#home {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home h1 {
  font-size: 18vh;
}

#about {
  height: 100vh;
  display: flex;
}

#about-me {
  margin-left: 2vw;
}

#projects {
  height: 100vh;
  border-top: solid;
}

#contact {
  height: 100vh;
  border-top: solid;
}

#projects img {
  max-width: 80%;
  border-radius: 10px;
  border-width: 10px;
  border-style: outset;
  border-color: #00b4d8;
}

#contact-content {
  height: 100%;
}

.App {
  background-color: #d0f4de;
}

#name {
  color: #00b4d8;
}

#name:hover {
  color: #ffc300;
}

